<div class="login-wrapper">
	<div class="login">
		<section class="title">
			<img src="assets/img/robot.png"/>
			<h3 class="welcome">Hello Human, <s>obey me</s> I'm your</h3>
			Standroid
		</section>
		<div class="login-group">
			<input #email class="email" type="email" name="email" placeholder="Email" required>
			<input #password class="password" type="password" name="password" placeholder="Password" required minlength="8">
			<div class="checkbox">
				<input type="checkbox" id="rememberme" name="rememberme">
				<label for="rememberme">
					Remember me
				</label>
			</div>
			<div class="error" [class.active]="loginError">
				Invalid email or password
			</div>
			<button type="button" class="btn btn-primary" (click)="login(email.value, password.value)">Login</button>
			<button type="button" class="btn btn-primary" (click)="loginWithGoogle()">Login with Google</button>
			<a [routerLink]="['/register']" class="signup">Not controlled by the robot overlords yet? Submit now</a>
		</div>
	</div>
</div>