@import "../../../../../theme.scss";
.login-group .email {
    margin: .25rem 0 .75rem;
}

.login-wrapper {
    background: url("../../../../../assets/img/backgrounds/circuit_board.png");
    background-position-x: right;
    background-size: auto 100%;
}

$img-size: 100px;
.title img {
    width: $img-size;
    height: $img-size;
    margin: 0 auto;
}