<div class="login-wrapper">
	<div class="login">
		<section class="title">
			<img src="assets/img/robot.png"/>
			<h3 class="welcome">Please complete your</h3>
			Email verification
			<h5>An email has been sent to your address. Please click the link inside it to verify, that this is your email
				address. After you have verified your address, you can log in.</h5>
		</section>
		<div class="login-group">
			<div class="btn-group btn-primary">
				<input type="button" class="btn btn-primary" value="Resend Email" (click)="resendEmail()" />
				<input type="button" class="btn btn-primary" value="Go to Login" (click)="redirectToLogin()" />
			</div>
		</div>
	</div>
</div>