$darkest-green:#173605;
$dark-green:#1D5100;
$green: #318700;
$light-green: #C7E59C;
$neon-green:#85C81A;
$dark-brown: #675645;
$light-brown: #967554;
$dark-grey: rgb(66, 71, 75);
$light-grey: #C1CDD4;