<div class="card">
  <div class="card-header">
    Participants
  </div>
  <div class="card-block">
    <div class="card-text">
      <ng-container *ngIf="storage.currentReport != null">
        <div class="member-wrapper" *ngFor="let m of storage.currentReport.selectedMembers">
          <img [src]="m.profile.image_48">
          <span>{{m.name}}</span>
          <app-icon-button type="window-close" (click)="removeMember(m)"></app-icon-button>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card-footer">
    <app-link-button (click)="openModal()">Add Participant</app-link-button>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isModalOpen" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Add a participant</h3>
  <div class="modal-body no-scroll">
    <select clrSelect [(ngModel)]="newTeamMember">
      <option *ngFor="let tm of teamMembers" [ngValue]="tm">{{tm.name}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <app-outline-button (click)="isModalOpen = false">Cancel</app-outline-button>
    <app-primary-button (click)="addTeamMember()" [disabled]="!selectedMemberValid()">Add</app-primary-button>
  </div>
</clr-modal>