<div class="card">
  <div class="card-header">
    Schedule
  </div>
  <div class="card-block">
    <div class="card-text">
      <ng-container *ngIf="schedule != null">
        <section class="form-block">
          <label>Pick the week days</label>
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #monday [checked]="schedule.monday" (change)="schedule.monday = !schedule.monday"
                name="options" />
              <label>Monday</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #tuesday [checked]="schedule.tuesday" (change)="schedule.tuesday = !schedule.tuesday"
                name="options" />
              <label>Tuesday</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #wednesday [checked]="schedule.wednesday" (change)="schedule.wednesday = !schedule.wednesday"
                name="options" />
              <label>Wednesday</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #thursday [checked]="schedule.thursday" (change)="schedule.thursday = !schedule.thursday"
                name="options" />
              <label>Thursday</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #friday [checked]="schedule.friday" (change)="schedule.friday = !schedule.friday"
                name="options" />
              <label>Friday</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #saturday [checked]="schedule.saturday" (change)="schedule.saturday = !schedule.saturday"
                name="options" />
              <label>Saturday</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox #sunday [checked]="schedule.sunday" (change)="schedule.sunday = !schedule.sunday"
                name="options" />
              <label>Sunday</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </section>
        <section class="form-block">
          <label for="select-full" class="clr-control-label">Time of day</label>
          <div class="clr-control-container">
            <div class="clr-select-wrapper">
              <select id="select-hour" class="clr-select" [(ngModel)]="schedule.hour" name="hours">
                <option *ngFor="let h of hours" [ngValue]="h">{{h}}</option>
              </select>
            </div>
            <span class="clr-subtext">Hour</span>
          </div>
          <div class="clr-control-container">
            <div class="clr-select-wrapper">
              <select id="select-minute" class="clr-select" [(ngModel)]="schedule.minute" name="minutes">
                <option *ngFor="let m of minutes" [ngValue]="m">{{m}}</option>
              </select>
            </div>
            <span class="clr-subtext">Minute</span>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="saveSchedule()">Save Changes</button>
  </div>
</div>