@import "../../../../../theme.scss";

/deep/ p, /deep/ span, /deep/ label {
    color: white!important;
}

/deep/ .clr-checkbox-wrapper input[type=checkbox]:checked+label::before {
    background: $green;
}

/deep/ .clr-checkbox-wrapper input[type='checkbox']:focus+label::before {
    box-shadow: 0 0 2px 2px $green;
}

/deep/ .form-block input:not([readonly]),
/deep/ .form-group input:not([readonly]) {
    background: linear-gradient(to bottom, transparent 95%, $neon-green 95%) no-repeat !important;
    background-size: 0 100% !important;
    border-bottom: 1px solid transparent !important;
    transition: background-size .2s ease !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

/deep/ .form-block input:focus,
/deep/ .form-group input:focus {
    background-size: 100% 100% !important;
}


/deep/ .form-block select {
    background: linear-gradient(to bottom, transparent 95%, $neon-green 95%) no-repeat !important;
    background-size: 0 100% !important;
    border-bottom: 1px solid transparent !important;
    transition: background-size .2s ease !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

/deep/ .form-block select:focus {
    background-size: 100% 100% !important;
}