@import "../../../../../theme.scss";
.login-group .email {
    margin: .25rem 0 .75rem;
}

.login-wrapper {
    background: url("../../../../../assets/img/camouflage2.png");
    .login {
        background: $dark-grey;
    }
}

.btn-primary .btn,
.btn.btn-primary {
    background-color: $dark-green;
    border-color: $dark-green;
    color: white;
}

.btn-primary .btn:hover,
.btn.btn-primary:hover {
    background-color: $green;
    border-color: $green;
}

.btn.btn-primary:nth-of-type(2){
    margin-top:12px;
}


a {
    color: $light-grey;
}

input.email:not([readonly]) {
    background: linear-gradient(to bottom, transparent 95%, $neon-green 95%) no-repeat;
    background-size: 0 100%;
    border-bottom: 1px solid transparent;
    transition: background-size .2s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

input.email:focus {
    background-size: 100% 100%;
}

input.password:not([readonly]) {
    background: linear-gradient(to bottom, transparent 95%, $neon-green 95%) no-repeat;
    background-size: 0 100%;
    border-bottom: 1px solid transparent;
    transition: background-size .2s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

input.password:focus {
    background-size: 100% 100%;
}

.checkbox input[type=checkbox]:checked+label::before,
.checkbox-inline input[type=checkbox]:checked+label::before {
    background: $green;
}

.checkbox input[type='checkbox']:focus+label::before,
.checkbox-inline input[type='checkbox']:focus+label::before{
	box-shadow: 0 0 2px 2px $green;
}