@import "../../../../theme.scss";

/deep/ .btn.btn-icon {
    margin: 0;
    border-color: $neon-green !important;
    color: $neon-green !important;
}

/deep/ .btn.btn-icon:active {
    box-shadow: none !important;
}