<div class="background">
  <clr-wizard #wizard [(clrWizardOpen)]="wizardOpen" (clrWizardOnCancel)="doCancel()" [clrWizardPreventDefaultCancel]="true">
    <clr-wizard-title>Create first report</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
      <ng-template clrPageTitle>Name of the report</ng-template>
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>Page 2</ng-template>
      ...
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>Page 3</ng-template>
      ...
    </clr-wizard-page>
  </clr-wizard>
  <clr-modal #reminder [(clrModalOpen)]="reminderModalOpen">
    <h3 class="modal-title">You have not finished creating your report</h3>
    <div class="modal-body">
        <p>You will be able to create a report in the dashboard, if you want to skip this step for now.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="redirectToDashboard()">Ok</button>
    </div>
</clr-modal>
</div>