@import "../../theme.scss";
$branding-img-width: 36px;
$branding-img-width-small: 36px;
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.alert-app-level {
    background: url("../../assets/img/camouflage.png");
    background-size: 300px;
    overflow: hidden;
    .alert-text {
        color: white;
        font-weight: 700;
    }
    .alert-icon-wrapper .alert-icon {
        color: white;
    }
    .alert-icon-wrapper .alert-image {
        width: $branding-img-width-small;
        height: $branding-img-width-small;
        margin-right: 24px;
        animation: shake 0.7s;
        animation-iteration-count: infinite;
        position: relative;
        top: -5px;
    }
    .alert-actions>.btn {
        color: white !important;
        border-color: white !important;
    }
    button.closer {
        background-color: transparent;
        border: 0px;
        cursor: pointer;
    }
    button.closer * {
        fill: white !important;
    }
    /deep/ button.closer clr-icon {
        height: 32px;
        width: 32px;
        fill: white;
    }
}

.header {
    background-color: $dark-green;
}

.subnav {
    background-color: $green;
}

.content-container {
    background-color: $dark-grey;
}

.branding img {
    width: $branding-img-width;
    height: $branding-img-width;
    margin: 0 12px;
}

#search_input {
    border-color: $neon-green;
}

/deep/ .dropdown.open>.dropdown-menu {
    background: rgba(0, 0, 0, .35) url("../../assets/img/camouflage.png");
    background-blend-mode: darken;
    background-size: 250px;
}

/deep/ .dropdown-menu a.dropdown-item {
    color: white;
    font-weight: 800;
}

/deep/ .dropdown-menu a.dropdown-item:hover {
    background-color: rgba($color: $dark-green, $alpha: 0.2);
    color: $light-grey;
}

.nav-item a{
    color:white;
}

.nav-item a:hover{
    box-shadow: 0 -3px 0 $dark-green inset;
}

.nav-item a.active{
    box-shadow: 0 -3px 0 $dark-green inset;
    font-weight: 600;
}